.app {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 92px 40px;
}

.header__nav-list {
    display: flex;
    justify-content: flex-start;
    column-gap: 29px;
    margin-left: 10px;
    flex-direction: row;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.header__nav-item {
    list-style-type: circle;
    padding-left: 5px;
}

.header__nav-item__active {
    list-style-type: none;
    padding-left: 0px;
}

.header__nav-link {
    text-decoration: underline;
}

.header__nav-link:hover,
.header__nav-link__active {
    text-decoration: none;
} 

.header__logo {
    justify-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__contacts {
    justify-self: end;
    padding-right: 8px;
    padding-bottom: 1px;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
}

.contacts {
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
    width: 249px;
}

.footer {
    margin: 161px 50px 90px;
    display: flex;
    justify-content: space-between;
}

.footer__nav {
    margin-right: 8px;
}

.footer__nav-list {
    text-align: center;
}

.footer__nav-link {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__nav-link:hover, 
.footer__nav-link__active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    column-gap: 48px;
    justify-content: space-between;
}

.footer__social-list-item {
    list-style-type: none;
}

.footer__social-link {
    text-decoration: none;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}

.overlay {
    position: relative;
    z-index: 0;
}

.overlay::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0 0 0 0;
    background-color: #000;
    opacity: 0.6;
}

.main-section {
    background-image: url(../images/lotus-flower.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-section__title {
    position: relative;
    padding: 165px 22px 115px 48px;
    color: white;
    font-family: Raleway, Arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 122px;
}

.title {
    display: block;
    color: #fff;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.title-middle {
    text-align: center;
    padding-right: 25px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.title-end {
    text-align: end;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.main-section__description {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    padding-bottom: 50px;
}

.main-section__description__letter-spacing {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-right: 8px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 18px;
}

.main-section__button {
    margin-left: 70px;
    margin-right: 49px;
    margin-top: 10px;
    padding: 6px 32px;
    min-height: 52px;
    background: transparent;
    border-color: white;
    border-style: solid;
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    transition: background .25s ease, color .2s ease;
    cursor: pointer;
}

.main-section__button:hover {
    background: #fff;
    color: #000;
}

.lots__heading {
    margin-top: 180px;
    margin-left: 90px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    margin: 27px 50px 31px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    list-style-type: none;
}

.lots__card-list-item {
    min-height: 450px;
    flex-basis: 430px;
    flex-grow: 1;
}

.card-link {
    height: 100%;
    text-decoration: none;
    display: block;
}

.lots__look-more-link {
    margin-left: 90px;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_type_film {
    background-image: url(../images/photo_1.png);
}

.card_type_book {
    background-image: url(../images/photo_2.png);
}

.card_type_picture {
    background-image: url(../images/photo_3.png);
}

.card {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card__title {
    position: relative;
    margin: 50px 40px 0 40px;
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    margin: 0 40px 50px 40px;
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.row {
    display: flex;
    flex-flow: column;
}

.about {
    margin-left: 50px;
    margin-top: 180px;
    display: flex;
    column-gap: 120px;
}

.about__title {
    margin: 100px 0;
    grid-column: 2;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about__text:nth-child(n + 1) {
    margin-bottom: 25px;
}
.about__text {
    margin-right: 50px;
    grid-column: 2;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__logo {
    background: #000;
    width: 240px;
    height: 240px;
    padding: 63px 46px;
    margin-left: 95px;
    border-radius: 50%;
}